.pf-tag-toggle-button {
  position: absolute;
  right: 0px;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}

.pf-users-container {
  width: 100%;
}
.pf-user-ng-button {
  position: absolute;
  right: 1.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.pf-tag-ng-button {
  margin-left: 0.5rem;
  cursor: pointer;
}

.hide-pf-tag-container {
  display: none;
}

li {
  position: relative;
}

ul > div {
  position: relative;
}

div[aria-haspopup] {
  margin-right: 3.5rem;
}

.pf-work-tag {
  display: flex;
}
